@{
    ViewData["Title"] = "PetParty Form";
}
@model Pet
<div class="text-center">
    <form asp-action="CreatePet" asp-controller="Home" method="post">
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Species"></label>
            <select asp-for="Species" asp-items="@ViewBag.Choices"></select>
            <span asp-validation-for="Species" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Age"></label>
            <input asp-for="Age">
            <span asp-validation-for="Age" class="text-danger"></span>            
        </div>
        <div class="mb-3">
            <label asp-for="IsCute"></label>
            <input asp-for="IsCute">
        </div>
        <button class="btn btn-primary">Register Pet</button>
    </form>
    <a asp-action="AllPets" asp-controller="Home" class="btn btn-info">All Pets</a>
</div>
